# Python and Analytics Workshop

## Learning Python3
In this part of the workshop we will use a [Jupyter notebook](https://jupyter.org/) to learn a bit about the [Python programming language](https://www.python.org/)

- [About Jupyter Notebooks](#jupyter)
- [Python objects, basic types, and variables](#objects)
- [Basic operators](#operators)
- [Basic containers](#containers)
- [Accessing data in containers](#data)
- [Python built-in functions and callables](#builtin)
- [Python object attributes (methods and properties)](#attributes)
  - [Some methods on string objects ](#strings)
  - [Some methods on list objects](#lists)
  - [Some methods on set objects](#sets)
  - [Some methods on dict objects](#dicts)

## 1.0 Jupyter Notebooks <a name="jupyter"></a>



### Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

<hr>

## Common Jupyter operations

Near the top of the Jupyter notebook page, Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your session

<hr>

## References

- [Watson Studio](https://dataplatform.cloud.ibm.com)
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## 2.0 Python objects, basic types, and variables <a name="objects"></a>

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## 3.0 Basic operators <a name="operators"></a>

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

### 3.1 Examples 
Run the following cells to see how basic operators work

In [110]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [111]:
# Addition
num1 + num2

7

In [112]:
# Subtraction
num2 - num3

-10.41

In [113]:
# Multiplication
num3 * num4

-4.446

In [114]:
# Division
num4 / num5

-0.08571428571428572

In [115]:
# Exponent
num5 ** num6

343

In [116]:
# Increment existing variable
num7 += 4
num7

15.11

In [117]:
# Decrement existing variable
num6 -= 2
num6

1

In [118]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [119]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [120]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [121]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [122]:
# Is the first expression less than the second expression?
num5 < num6

False

In [123]:
# Is this expression True?
5 > 3 > 1

True

In [124]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [125]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [126]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [127]:
# Notice that the string was not modified
simple_string1

'an example'

In [128]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [129]:
# This string wasn't modified either
simple_string2

'oranges '

In [130]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [131]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [132]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [133]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

> Note: Subtraction, division, and decrement operators do not apply to strings.

## 4.0 Basic containers <a name="containers"></a>

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

### 4.1 Examples
Run the following cells to see how basic containers work

In [134]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [135]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [136]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [137]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [138]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [139]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [140]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [141]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [142]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## 5.0 Accessing data in containers <a name="data"></a>

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

## 5.1 Examples
Run the following cells to see how data in containers work

In [143]:
# Access the first item in a sequence
list1[0]

3

In [144]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [145]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [146]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [147]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [148]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [149]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

### Exercises 5.2
Attempt to solve the problems in the comments below. You can load the [Answers](#answers-5.2) when you are ready to check your work

In [150]:
# 5.2.1 Create some containers
list2 = ['car', 'plane', 'boat', 'train']
tuple2 = ('first', 'second', 'third', 'fourth')
dict2 = {'CPU':'Arm', 'Network':'WiFi', 'Storage':['SSD', 'Sata', 'Tape']}

In [151]:
# 5.2.2 What is the first item in list2?

In [152]:
# 5.2.3 What is the last item in list2?

In [153]:
# 5.2.4 What are the first 3 items in tuple2?

In [154]:
# 5.2.5 What is the value of dict2 for the CPU?

In [155]:
# 5.2.6 What is the first type of Storage in dict2?

#### Answers to Section 5.2 <a name="answers-5.2"></a>
Run the cell below to get the answers to the exercises in section 5.2

In [ ]:
# %load https://raw.githubusercontent.com/IBM/python-and-analytics/master/data/answers/python3-answers-5.2.py
# 5.2.1 Create some containers
list2 = ['car', 'plane', 'boat', 'train']
tuple2 = ('first', 'second', 'third', 'fourth')
dict2 = {'CPU':'Arm', 'Network':'WiFi', 'Storage':['SSD', 'Sata', 'Tape']}

# 5.2.2 What is the first item in list2?
list2[0]

# 5.2.3 What is the last item in list2?
list2[-1]

# 5.2.4 What are the first 3 items in tuple2?
tuple2[:3]

# 5.2.5 What is the value of dict2 for the CPU?
dict2['CPU']

# 5.2.6 What is the first type of Storage in dict2?
dict2['Storage'][0]

## 6.0 Python built-in functions and callables <a name="builtin"></a>

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

## 6.1 Examples
Run the following cells to see how Python built-in functions and callables work

In [157]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [158]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [159]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [160]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [161]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [162]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [163]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [164]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [165]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [166]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [167]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [168]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [169]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [170]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [171]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 'dog', 5, 6, 'cat'}"

## 7.0 Python object attributes (methods and properties) <a name="attributes"></a>

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## 7.1 Some methods on string objects <a name="strings"></a>

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

### Exercises 7.1
Attempt to solve the problems in the comments below. You can load the [Answers](#answers-7.1) when you are ready to check your work

In [172]:
# 7.1.1 Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [173]:
# 7.1.2 Return a capitalized version of the string

In [174]:
# 7.1.3 Return an uppercase version of the string

In [175]:
# 7.1.4 Return a lowercase version of the string

In [176]:
# 7.1.5 Notice that the methods called have not actually modified the string

In [177]:
# 7.1.6 Count number of occurences of the substring 'i' in the string

In [178]:
# 7.1.7 Count number of occurences of the substring 'i' in the string after a certain position

In [179]:
# 7.1.8 Count number of occurences of the substring 'is' in the string

In [180]:
# 7.1.9 Does the string start with 'this'?

In [181]:
# 7.1.10 Does the lowercase string start with 'this'?

In [182]:
# 7.1.11 Does the string end with 'Ng'?

In [183]:
# 7.1.12 Return a version of the string with a substring replaced with something else

In [184]:
# 7.1.13 Return a version of the string with a substring replaced with something else

In [185]:
# 7.1.14 Return a version of the string with the first 2 occurences a substring replaced with something else

#### Answers to Section 7.1 <a name="answers-7.1"></a>
Uncomment and run the cell below to get the answers to the exercises in section 7.1

In [ ]:
# %load https://raw.githubusercontent.com/IBM/python-and-analytics/master/data/answers/python3-answers-7.1.py
# 7.1.1 Assign a string to a variable
a_string = 'tHis is a sTriNg'

# 7.1.2 Return a capitalized version of the string
a_string.capitalize()

# 7.1.3 Return an uppercase version of the string
a_string.upper()

# 7.1.4 Return a lowercase version of the string
a_string.lower()

# 7.1.5 Notice that the methods called have not actually modified the string
a_string

# 7.1.6 Count number of occurences of the substring 'i' in the string
a_string.count('i')

# 7.1.7 Count number of occurences of the substring 'i' in the string after a certain position
a_string.count('i', 7)

# 7.1.8 Count number of occurences of the substring 'is' in the string
a_string.count('is')

# 7.1.9 Does the string start with 'this'?
a_string.startswith('this')

# 7.1.10 Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

# 7.1.11 Does the string end with 'Ng'?
a_string.endswith('Ng')

# 7.1.12 Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

# 7.1.13 Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

# 7.1.14 Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

## 7.2 Some methods on list objects <a name="lists"></a>

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

### Remember our list:
list1 = [3, 5, 6, 3, 'dog', 'cat', False]

### Exercises 7.2 
Attempt to solve the problems in the comments below. You can load the [Answers](#answers-7.2) when you are ready to check your work

In [187]:
# 7.2.1 Add a 'cow' to the list

In [188]:
# 7.2.2 Add 'chicken' and 'pig'

In [189]:
# 7.2.3 Remove the 'dog'

In [190]:
# 7.2.4 Remove and return the last item in the list

#### Answers to Section 7.2 <a name="answers-7.2"></a>
Uncomment and run the cell below to get the answers to the exercises in section 7.2

In [ ]:
# %load https://raw.githubusercontent.com/IBM/python-and-analytics/master/data/answers/python3-answers-7.2.py
# 7.2.1 Add a 'cow' to the list
list1.append('cow')
list1

# 7.2.2 Add 'chicken' and 'pig'
list1.extend(['chicken', 'pig'])
list1

# 7.2.3 Remove the 'dog'
list1.remove('dog')
list1

# 7.2.4 Remove and return the cat
foo = list1.pop()
print("foo is: " + foo)
list1

## 7.3 Some methods on set objects <a name="sets"></a>

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

### Exercises 7.3 
Attempt to solve the problems in the comments below. You can load the [Answers](#answers-7.3) when you are ready to check your work

In [192]:
# 7.3.1 Create some sets to work with
lunch = {'sandwich', 'pasta', 'pizza', 'curry'}
dinner = {'pasta', 'stir fry', 'curry', 'pie'}

In [193]:
# 7.3.2 Add 'rice' to dinner

In [194]:
# 7.3.3 Add 'wrap' and 'soup' to lunch

In [195]:
# 7.3.4 Add 2 sets to another

In [196]:
# 7.3.5 Remove the 'pie' from dinner. You need something more nutritious

In [197]:
# 7.3.6 We cannot decide what's for lunch. Have python pick something at random

In [198]:
# 7.3.7 What is in lunch, but not dinner?

In [199]:
# 7.3.8 What is in both lunch and dinner?

In [200]:
# 7.3.9 What is in either lunch or dinner?

#### Answers to Section 7.3 <a name="answers-7.3"></a>
Uncomment and run the cell below to get the answers to the exercises in section 7.3

In [ ]:
# %load https://raw.githubusercontent.com/IBM/python-and-analytics/master/data/answers/python3-answers-7.3.py
# 7.3.1 Create some sets to work with
lunch = {'sandwich', 'pasta', 'pizza', 'curry'}
dinner = {'pasta', 'stir fry', 'curry', 'pie'}

# 7.3.2 Add 'rice' to dinner
dinner.add('rice')
dinner

# 7.3.3 Add 'wrap' and 'soup' to lunch
lunch.update(['wrap', 'soup'])
lunch

# 7.3.4 Add 2 sets to another
meals = {'eggs'}
meals.update(lunch, dinner)
meals

# 7.3.5 Remove the 'pie' from dinner. You need something more nutritious
dinner.remove('pie')
dinner

# 7.3.6 We cannot decide what's for lunch. Have python pick something at random
todays_lunch = lunch.pop()
todays_lunch

# 7.3.7 What is in lunch, but not dinner?
lunch.difference(dinner)

# 7.3.8 What is in both lunch and dinner?
dinner.intersection(lunch)

# 7.3.9 What is in either lunch or dinner?
dinner.union(lunch)

## 7.4 Some methods on dict objects <a name="dicts"></a>

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

### Exercises 7.4 
Attempt to solve the problems in the comments below. You can load the [Answers](#answers-7.4) when you are ready to check your work

In [202]:
# 7.4.1 Start with a dict
capitals = {'UK':'London', 'Japan':'Tokyo', 'India':'New Delhi', 'Peru':'Lima'}
capitals

{'UK': 'London', 'Japan': 'Tokyo', 'India': 'New Delhi', 'Peru': 'Lima'}

In [203]:
# 7.4.2 Add the Capitals Rome, Italy and Prague, Czech Republic:

In [204]:
# 7.4.3 Create a dictionary called "new_captials" consisting of Cairo, Egypt and Helsinki, Finland. Then add it to "capitals" and print:

In [205]:
# 7.4.4 Remove the UK and print it's capital

In [206]:
# 7.4.5 Remove the capital of Cuba, or, if it is not found, print "Not Found":

In [207]:
# 7.4.6 return the capital of Finland, but do not remove

In [208]:
# 7.4.7 return the capital of Mexico or "Could not find it" if it is not in the dict

In [209]:
# 7.4.8 list all the countries (keys) in the capitals dict

In [210]:
# 7.4.9 List all the capitals (values) in the capitals dict

In [211]:
# 7.4.10 list all the countries and capitals (keys and values) in the capitals dict

#### Answers to Section 7.4 <a name="answers-7.4"></a>
Uncomment and run the cell below to get the answers to the exercises in section 7.4

In [ ]:
# %load https://raw.githubusercontent.com/IBM/python-and-analytics/master/data/answers/python3-answers-7.4.py
# 7.4.1 Start with a dict
capitals = {'UK':'London', 'Japan':'Tokyo', 'India':'New Delhi', 'Peru':'Lima'}
capitals

# 7.4.2 Add the Capitals Rome, Italy and Prague, Czech Republic:
capitals.update([('Czech Republic','Prague'), ('Italy','Rome')])
capitals

# 7.4.3 Create a dictionary called "new_captials" consisting of Cairo, Egypt and Helsinki, Finland. Then add it to "capitals" and print:
new_capitals = {'Egypt': 'Cairo', 'Finland': 'Helsinki'}
capitals.update(new_capitals)
capitals

# 7.4.4 Remove the UK and print it's capital
ret = capitals.pop('UK')
ret

# 7.4.5 Remove the capital of Cuba, or, if it is not found, print "Not Found":
ret = capitals.pop('Cuba', 'Not Found')
ret

# 7.4.6 return the capital of Finland, but do not remove
capitals.get('Finland')

# 7.4.7 return the capital of Mexico or "Could not find it" if it is not in the dict
capitals.get('Mexico', 'Could not find it')

# 7.4.8 list all the countries (keys) in the capitals dict
capitals.keys()

# 7.4.9 List all the capitals (values) in the capitals dict
capitals.values()

# 7.4.10 list all the countries and capitals (keys and values) in the capitals dict
capitals.items()